1. 골목/블록상권 블록매핑 데이터에 상권코드를 결합한 데이터인 골목/블록상권_블록매핑_wkt이용  
2. 골목/블록상권_블록매핑 데이터에 면적이 아주 작은 데이터 등 이상치 존재
3. 이 코드는 골목/블록상권_블록매핑_wkt 데이터에 있는 이상치 제거하는 작업

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

# 데이터 불러오기

In [2]:
file_path = 'C:/Users/user/Desktop/경기신용보증재단/정제/골목,발달 상권 데이터/id'
golmok = pd.read_csv(file_path+'/골목상권_블록매핑_wkt.csv', encoding='cp949')
baldal = pd.read_csv(file_path+'/발달상권_블록매핑_wkt.csv', encoding='cp949')

# 골목 상권

## 블록 내 비율

In [3]:
golmok

,wkt,상권명,다중지역정보,업종정보,점포수,위도,경도,상권코드,BLK_CD,BLK_NM,area
0,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,43777,경기성남 로얄쉐르빌,0.000
1,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,125279,경기성남 보건빌라,3089.059
2,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,125204,경기성남 로암빌라,2498.753
3,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,125283,경기성남 솔그린빌리지,2602.524
4,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,125199,경기성남 금마주택,7502.944
...,...,...,...,...,...,...,...,...,...,...,...
13963,"POLYGON ((127.0488212760 37.2621735320, 127.04...",매탄로140번길,"{""type"":""Polygon"",""coordinates"":[[[127.0488212...",한식 일반 음식점업/체인화 편의점/두발 미용업/커피 전문점/피자 햄버거 샌드위치...,39,37.262253,127.047664,골목_827,280490,경기수원 거성빌,0.004
13964,"POLYGON ((127.0488212760 37.2621735320, 127.04...",매탄로140번길,"{""type"":""Polygon"",""coordinates"":[[[127.0488212...",한식 일반 음식점업/체인화 편의점/두발 미용업/커피 전문점/피자 햄버거 샌드위치...,39,37.262253,127.047664,골목_827,432064,경기수원 렉스빌,11557.489
13965,"POLYGON ((127.0488212760 37.2621735320, 127.04...",매탄로140번길,"{""type"":""Polygon"",""coordinates"":[[[127.0488212...",한식 일반 음식점업/체인화 편의점/두발 미용업/커피 전문점/피자 햄버거 샌드위치...,39,37.262253,127.047664,골목_827,280527,경기수원 도원주택,10675.537
13966,"POLYGON ((127.0488212760 37.2621735320, 127.04...",매탄로140번길,"{""type"":""Polygon"",""coordinates"":[[[127.0488212...",한식 일반 음식점업/체인화 편의점/두발 미용업/커피 전문점/피자 햄버거 샌드위치...,39,37.262253,127.047664,골목_827,280523,경기수원 280523블록,2017.737
13967,"POLYGON ((127.0488212760 37.2621735320, 127.04...",매탄로140번길,"{""type"":""Polygon"",""coordinates"":[[[127.0488212...",한식 일반 음식점업/체인화 편의점/두발 미용업/커피 전문점/피자 햄버거 샌드위치...,39,37.262253,127.047664,골목_827,533823,경기수원 프로방스빌,0.044

In [4]:
golmok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13968 entries, 0 to 13967
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wkt     13968 non-null  object
 1   상권명     13968 non-null  object
 2   다중지역정보  13968 non-null  object
 3   업종정보    13968 non-null  object
 4   점포수     13968 non-null  int64
 5   위도      13968 non-null  float64
 6   경도      13968 non-null  float64
 7   상권코드    13968 non-null  object
 8   BLK_CD  13968 non-null  int64
 9   BLK_NM  13968 non-null  object
 10  area    13968 non-null  float64
dtypes: float64(3), int64(2), object(6)
memory usage: 1.2+ MB

In [5]:
golmok['상권코드'].value_counts()

골목_98     88
골목_693    87
골목_7      75
골목_285    72
골목_616    71
          ..
골목_396     1
골목_31      1
골목_261     1
골목_216     1
골목_729     1
Name: 상권코드, Length: 827, dtype: int64

총 13968개의 데이터와 827개의 상권이 존재함을 확인

In [6]:
# 상권에 따른 area_sum(면적 합계)
golmok_area_sum = pd.DataFrame(golmok.groupby('상권코드')['area'].sum()) #한 상권의 면적 = area_sum
golmok_area_sum.reset_index(level=['상권코드'], inplace = True) 
golmok_area_sum.rename(columns={'area':'area_sum'},inplace=True)

# 골목상권 데이터에 area_sum 붙이기
golmok_merge=pd.merge(left=golmok,right=golmok_area_sum,how='left',on='상권코드')

# 상권 내에서 해당 조각의 면적 비율
golmok_merge['area_ratio'] = (golmok_merge['area']/golmok_merge['area_sum'])*100

In [7]:
golmok_merge.head(2)

,wkt,상권명,다중지역정보,업종정보,점포수,위도,경도,상권코드,BLK_CD,BLK_NM,area,area_sum,area_ratio
0,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,43777,경기성남 로얄쉐르빌,0.000,74330.393,0.000000
1,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,125279,경기성남 보건빌라,3089.059,74330.393,4.155849

area : 상권 블록 면적  
area_sum: 상권 면적 합  
area_ratio: 상권 면적에서 상권 블록의 면적 비율

In [8]:
# bc 카드 블록데이터의 면적 추출
# 블록코드_area는 qgis를 통하여 추출한 데이터
df_blk = pd.read_csv('C:/Users/user/Desktop/경기신용보증재단/정제/골목,발달 상권 데이터/골목_발달상권_블록매핑_전처리/골목_발달상권_블록매핑_전처리코드/블록코드_area.csv',encoding='euc-kr')
df_blk = df_blk[['BLK_CD','area']]
df_blk.rename(columns={'area':'blk_area'},inplace=True)

# 상권 데이터와 비씨카드 상권 데이터 merge
golmok_merge = pd.merge(left=golmok_merge,right=df_blk,how='left',on='BLK_CD') 

# BC카드 블록에서의 상권 블록 면적 비율
golmok_merge['blk_area_ratio'] = (golmok_merge['area']/golmok_merge['blk_area'])*100

In [9]:
golmok_merge.head()

,wkt,상권명,다중지역정보,업종정보,점포수,위도,경도,상권코드,BLK_CD,BLK_NM,area,area_sum,area_ratio,blk_area,blk_area_ratio
0,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,43777,경기성남 로얄쉐르빌,0.000,74330.393,0.000000,4555.517,0.000000
1,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,125279,경기성남 보건빌라,3089.059,74330.393,4.155849,3089.797,99.976115
2,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,125204,경기성남 로암빌라,2498.753,74330.393,3.361684,2499.367,99.975434
3,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,125283,경기성남 솔그린빌리지,2602.524,74330.393,3.501292,3386.012,76.861039
4,"POLYGON ((127.1687262760 37.4620601200, 127.16...",성남은행초등학교,"{""type"":""Polygon"",""coordinates"":[[[127.1687262...",두발 미용업/일반 교과학원/치킨 전문점/한식 일반 음식점업/노래 연습장 운영업/기타...,133,37.460705,127.168758,골목_1,125199,경기성남 금마주택,7502.944,74330.393,10.094046,9058.654,82.826257

area : 상권 블록 면적  
area_sum: 상권 면적 합  
area_ratio: 상권 면적에서 상권 블록의 면적 비율  
blk_area: 블록 면적  
blk_area_ratio: 블록 면적에서 상권 블록의 면적 비율

In [10]:
# 데이터 개수 보존 체크 13968
golmok_merge.shape

(13968, 15)

In [11]:
golmok_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13968 entries, 0 to 13967
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   wkt             13968 non-null  object
 1   상권명             13968 non-null  object
 2   다중지역정보          13968 non-null  object
 3   업종정보            13968 non-null  object
 4   점포수             13968 non-null  int64
 5   위도              13968 non-null  float64
 6   경도              13968 non-null  float64
 7   상권코드            13968 non-null  object
 8   BLK_CD          13968 non-null  int64
 9   BLK_NM          13968 non-null  object
 10  area            13968 non-null  float64
 11  area_sum        13968 non-null  float64
 12  area_ratio      13968 non-null  float64
 13  blk_area        13968 non-null  float64
 14  blk_area_ratio  13968 non-null  float64
dtypes: float64(7), int64(2), object(6)
memory usage: 1.7+ MB

In [12]:
# 블록 면적에서 상권 블록의 면적 비율(blk_area_ratio)이 9(%)이상일 때 모든 상권이 포함되어 있음
temp = golmok_merge[golmok_merge['blk_area_ratio'] >= 9]
temp['상권코드'].value_counts()

골목_45     58
골목_693    50
골목_98     48
골목_689    47
골목_616    44
          ..
골목_396     1
골목_397     1
골목_617     1
골목_399     1
골목_398     1
Name: 상권코드, Length: 827, dtype: int64

In [13]:
# 블록 면적에서 상권 블록의 면적 비율(blk_area_ratio)에 따른 상권 소실 개수 체크

temp1 = golmok_merge[golmok_merge['blk_area_ratio'] >= 9] # 상권 유지
temp2 = golmok_merge[golmok_merge['blk_area_ratio'] >= 15] # 상권 한 개 소실
temp3 = golmok_merge[golmok_merge['blk_area_ratio'] >= 20] # 상권 두 개 소실
temp4 = golmok_merge[golmok_merge['blk_area_ratio'] >= 30] # 상권 세 개 소실

print(len(set(temp1['다중지역정보'])^set(temp2['다중지역정보'])))
print(len(set(temp2['다중지역정보'])^set(temp3['다중지역정보'])))
print(len(set(temp3['다중지역정보'])^set(temp4['다중지역정보'])))

1
1
1

In [14]:
print(len(set(temp1['상권코드'])^set(temp2['상권코드'])))
print(len(set(temp2['상권코드'])^set(temp3['상권코드'])))
print(len(set(temp3['상권코드'])^set(temp4['상권코드'])))

1
1
1

블록 내 상권 블록의 비율이 9% 이상인 것들을 보았을 때 상권 유지  
블록 내 상권 블록의 비율이 10% 이상인 것들을 보았을 때 상권 1개 소실

In [15]:
# blk_area_ratio >= 30(%)일 때 데이터 개수
temp4.shape

(7696, 15)

In [16]:
# blk_area_ratio > 30(%)일 때 데이터 정보
golmok_merge.loc[~golmok_merge['상권코드'].isin(temp4['상권코드']), ['상권명', 'area','area_ratio', 'blk_area_ratio']]

               상권명       area  area_ratio  blk_area_ratio
4438   동탄기흥로257번가길  38176.329  100.000000       19.147383
7668      성남신흥동우체국      0.000    0.000000        0.000000
7669      성남신흥동우체국      0.002    0.000004        0.000075
7670      성남신흥동우체국      0.013    0.000029        0.000534
7671      성남신흥동우체국  45424.029   99.999960       20.118698
7672      성남신흥동우체국      0.003    0.000007        0.000070
11009        고암길_2  13648.546   99.999692        9.357588
11010        고암길_2      0.001    0.000007        0.000020
11011        고암길_2      0.002    0.000015        0.000028
11012        고암길_2      0.028    0.000205        0.000538
11013        고암길_2      0.011    0.000081        0.000280

30(%) 이상으로 했을 때 3개의 상권이 소실되는 것을 방지할 필요가 있음

## 상권 내 비율

In [17]:
# 15% 이상을 기준으로함
temp = golmok_merge[golmok_merge['blk_area_ratio'] >= 15]

In [18]:
golmok_merge.loc[~golmok_merge['상권코드'].isin(temp['상권코드']), ['상권명', 'area','area_ratio', 'blk_area_ratio']]

         상권명       area  area_ratio  blk_area_ratio
11009  고암길_2  13648.546   99.999692        9.357588
11010  고암길_2      0.001    0.000007        0.000020
11011  고암길_2      0.002    0.000015        0.000028
11012  고암길_2      0.028    0.000205        0.000538
11013  고암길_2      0.011    0.000081        0.000280

고암길_2의 경우 5개의 상권 블록이 사라짐  
상권 소실을 방지하기 위해 상권에서 상권블록이 차지하는 비율(area_ratio)가 큰 블록을 남겨야함

In [19]:
temp2 = golmok_merge[~golmok_merge['상권코드'].isin(temp['상권코드'])]
temp2 = temp2[temp2['area_ratio'] >= 90]

In [20]:
temp.shape

(7734, 15)

In [21]:
temp2.shape

(1, 15)

In [22]:
temp['상권코드'].value_counts().shape

(826,)

In [23]:
temp2['상권코드'].value_counts().shape

(1,)

In [24]:
golmok_cut= pd.concat([temp, temp2])

In [25]:
golmok_cut.shape

(7735, 15)

In [26]:
golmok_merge.shape

(13968, 15)

13968개의 데이터에서 이상치를 제거하면 7735개

In [27]:
# 모든 상권이 포함되어있는지 확인
# 다 포함되어 있을 경우 안보이는 것이 맞음
golmok_merge.loc[~golmok_merge['상권코드'].isin(golmok_cut['상권코드']), ['상권명', 'area','area_ratio', 'blk_area_ratio']]

Empty DataFrame
Columns: [상권명, area, area_ratio, blk_area_ratio]
Index: []

In [28]:
pd.DataFrame(golmok_cut['상권코드'].value_counts())

        상권코드
골목_45     58
골목_693    50
골목_98     48
골목_689    47
골목_616    44
...      ...
골목_30      1
골목_31      1
골목_738     1
골목_737     1
골목_658     1

[827 rows x 1 columns]

골목 상권 총 827개 -> 상권유지

## 최종 전처리

In [29]:
# 비율설정
# 블록 면적에서 상권 블록의 면적 비율(blk_area_ratio)이 15(%)이상
temp = golmok_merge[golmok_merge['blk_area_ratio'] >= 15]

# 사라진 상권을 포함
temp2 = golmok_merge[~golmok_merge['상권코드'].isin(temp['상권코드'])]
temp2 = temp2[temp2['area_ratio'] >= 90]

# merge
golmok_cut = pd.concat([temp, temp2])

In [30]:
# 필요한 컬럼만 추출
golmok_cut = golmok_cut[['wkt', '상권명', '다중지역정보', '업종정보', '점포수', '위도', '경도', '상권코드', 'BLK_CD', "BLK_NM"]]

In [31]:
golmok_cut.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7735 entries, 1 to 11009
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wkt     7735 non-null   object
 1   상권명     7735 non-null   object
 2   다중지역정보  7735 non-null   object
 3   업종정보    7735 non-null   object
 4   점포수     7735 non-null   int64
 5   위도      7735 non-null   float64
 6   경도      7735 non-null   float64
 7   상권코드    7735 non-null   object
 8   BLK_CD  7735 non-null   int64
 9   BLK_NM  7735 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 664.7+ KB

## 데이터 저장

In [32]:
# golmok_cut.to_csv('C:/Users/user/Desktop/경기신용보증재단/정제/골목,발달 상권 데이터/골목_발달상권_블록매핑_전처리/골목상권_블록매핑_전처리.csv',encoding='euc-kr',index=False)

# 발달상권

## 블록 내 비율

In [33]:
baldal

,wkt,상권명,다중지역정보,업종정보,점포수,위도,경도,상권코드,BLK_CD,BLK_NM,area
0,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,293357,경기고양 라페스타,18490.461
1,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,407624,경기고양 남정씨티프라자1차,25713.180
2,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,407699,경기고양 홈플러스,20886.116
3,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,407722,경기고양 프라임웨딩문화원,14284.647
4,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,213225,경기고양 고일프라자,18301.495
...,...,...,...,...,...,...,...,...,...,...,...
9431,"POLYGON ((126.8517735760 37.3333533300, 126.85...",안산천동로4길,"{""type"":""Polygon"",""coordinates"":[[[126.8517735...",한식 일반 음식점업/두발 미용업/기타 주점업/태권도 및 무술 교육기관/부동산 중개 ...,46,37.333925,126.852318,발달_857,289076,경기안산 월피동성당,0.017
9432,"POLYGON ((126.8517735760 37.3333533300, 126.85...",안산천동로4길,"{""type"":""Polygon"",""coordinates"":[[[126.8517735...",한식 일반 음식점업/두발 미용업/기타 주점업/태권도 및 무술 교육기관/부동산 중개 ...,46,37.333925,126.852318,발달_857,289074,경기안산 거산빌라,0.009
9433,"POLYGON ((126.8517735760 37.3333533300, 126.85...",안산천동로4길,"{""type"":""Polygon"",""coordinates"":[[[126.8517735...",한식 일반 음식점업/두발 미용업/기타 주점업/태권도 및 무술 교육기관/부동산 중개 ...,46,37.333925,126.852318,발달_857,289064,경기안산 금성쉐르빌,0.004
9434,"POLYGON ((126.8517735760 37.3333533300, 126.85...",안산천동로4길,"{""type"":""Polygon"",""coordinates"":[[[126.8517735...",한식 일반 음식점업/두발 미용업/기타 주점업/태권도 및 무술 교육기관/부동산 중개 ...,46,37.333925,126.852318,발달_857,289065,경기안산 백산빌라,5481.278
9435,"POLYGON ((126.8517735760 37.3333533300, 126.85...",안산천동로4길,"{""type"":""Polygon"",""coordinates"":[[[126.8517735...",한식 일반 음식점업/두발 미용업/기타 주점업/태권도 및 무술 교육기관/부동산 중개 ...,46,37.333925,126.852318,발달_857,286331,경기안산 삼미하이츠빌,6296.820

In [34]:
baldal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9436 entries, 0 to 9435
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wkt     9436 non-null   object
 1   상권명     9436 non-null   object
 2   다중지역정보  9436 non-null   object
 3   업종정보    9436 non-null   object
 4   점포수     9436 non-null   int64
 5   위도      9436 non-null   float64
 6   경도      9436 non-null   float64
 7   상권코드    9436 non-null   object
 8   BLK_CD  9436 non-null   int64
 9   BLK_NM  9436 non-null   object
 10  area    9436 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 811.0+ KB

In [35]:
baldal['상권코드'].value_counts()

발달_721    85
발달_844    68
발달_190    62
발달_283    59
발달_535    58
          ..
발달_223     1
발달_724     1
발달_715     1
발달_260     1
발달_429     1
Name: 상권코드, Length: 857, dtype: int64

총 9436개의 데이터와 857개의 상권이 존재함을 확인

In [36]:
# 상권에 따른 area_sum(면적 합계)
baldal_area_sum = pd.DataFrame(baldal.groupby('상권코드')['area'].sum()) #한 상권의 면적 = area_sum
baldal_area_sum.reset_index(level=['상권코드'], inplace = True) 
baldal_area_sum.rename(columns={'area':'area_sum'},inplace=True)

# 발달상권 데이터에 area_sum 붙이기
baldal_merge=pd.merge(left=baldal, right=baldal_area_sum, how='left', on='상권코드')

# 상권 내에서 해당 조각의 면적 비율
baldal_merge['area_ratio'] = (baldal_merge['area']/baldal_merge['area_sum'])*100

In [37]:
baldal_merge.head(2)

,wkt,상권명,다중지역정보,업종정보,점포수,위도,경도,상권코드,BLK_CD,BLK_NM,area,area_sum,area_ratio
0,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,293357,경기고양 라페스타,18490.461,108244.146,17.082181
1,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,407624,경기고양 남정씨티프라자1차,25713.180,108244.146,23.754800

In [38]:
# bc 카드 블록데이터의 면적 추출
# 블록코드_area는 qgis를 통하여 추출한 데이터
df_blk = pd.read_csv('C:/Users/user/Desktop/경기신용보증재단/정제/골목,발달 상권 데이터/골목_발달상권_블록매핑_전처리/골목_발달상권_블록매핑_전처리코드/블록코드_area.csv',encoding='euc-kr')
df_blk = df_blk[['BLK_CD','area']]
df_blk.rename(columns={'area':'blk_area'},inplace=True)

# 상권 데이터와 비씨카드 상권 데이터 merge
baldal_merge = pd.merge(left=baldal_merge, right=df_blk, how='left', on='BLK_CD') 

# BC카드 블록에서의 상권 블록 면적 비율
baldal_merge['blk_area_ratio'] = (baldal_merge['area']/baldal_merge['blk_area'])*100

In [39]:
baldal_merge.head()

,wkt,상권명,다중지역정보,업종정보,점포수,위도,경도,상권코드,BLK_CD,BLK_NM,area,area_sum,area_ratio,blk_area,blk_area_ratio
0,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,293357,경기고양 라페스타,18490.461,108244.146,17.082181,24676.475,74.931533
1,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,407624,경기고양 남정씨티프라자1차,25713.180,108244.146,23.754800,28277.298,90.932238
2,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,407699,경기고양 홈플러스,20886.116,108244.146,19.295377,23326.756,89.537165
3,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,407722,경기고양 프라임웨딩문화원,14284.647,108244.146,13.196692,21511.821,66.403709
4,"POLYGON ((126.7692787850 37.6609634390, 126.76...",라페스타라페스타,"{""type"":""Polygon"",""coordinates"":[[[126.7692787...",전자상거래 소매업/한식 일반 음식점업/커피 전문점/기타 주점업/화장품 비누 및 방...,703,37.660365,126.767849,발달_1,213225,경기고양 고일프라자,18301.495,108244.146,16.907607,23719.005,77.159624

area : 상권 블록 면적  
area_sum: 상권 면적의 합  
area_ratio: 상권 면적에서 상권 블록의 면적 비율  
blk_area: 블록 면적  
blk_area_ratio: 블록 면적에서 상권 블록의 면적 비율

In [40]:
# 데이터 개수 보존 체크 9436
baldal_merge.shape

(9436, 15)

In [41]:
baldal_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9436 entries, 0 to 9435
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   wkt             9436 non-null   object
 1   상권명             9436 non-null   object
 2   다중지역정보          9436 non-null   object
 3   업종정보            9436 non-null   object
 4   점포수             9436 non-null   int64
 5   위도              9436 non-null   float64
 6   경도              9436 non-null   float64
 7   상권코드            9436 non-null   object
 8   BLK_CD          9436 non-null   int64
 9   BLK_NM          9436 non-null   object
 10  area            9436 non-null   float64
 11  area_sum        9436 non-null   float64
 12  area_ratio      9436 non-null   float64
 13  blk_area        9436 non-null   float64
 14  blk_area_ratio  9436 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 1.2+ MB

In [42]:
# 블록 면적에서 상권 블록의 면적 비율(blk_area_ratio)이 20(%) 이상일 때 상권 하나가 소실 됨
temp = baldal_merge[baldal_merge['blk_area_ratio'] >= 20]
pd.DataFrame(temp['상권코드'].value_counts())

        상권코드
발달_844    51
발달_283    49
발달_721    49
발달_285    44
발달_190    42
...      ...
발달_625     1
발달_752     1
발달_400     1
발달_179     1
발달_539     1

[856 rows x 1 columns]

856개로 하나 소실

In [43]:
# 블록 면적에서 상권 블록의 면적 비율(blk_area_ratio)에 따른 상권 소실 개수 체크

temp1 = baldal_merge[baldal_merge['blk_area_ratio'] >= 10] # 상권 유지
temp2 = baldal_merge[baldal_merge['blk_area_ratio'] >= 15] # 상권 유지
temp3 = baldal_merge[baldal_merge['blk_area_ratio'] >= 20] # 상권 한 개 소실
temp4 = baldal_merge[baldal_merge['blk_area_ratio'] >= 30] # 상권 두 개 소실

print(len(set(temp1['다중지역정보'])^set(temp2['다중지역정보'])))
print(len(set(temp2['다중지역정보'])^set(temp3['다중지역정보'])))
print(len(set(temp3['다중지역정보'])^set(temp4['다중지역정보'])))

0
1
1

In [44]:
print(len(set(temp1['상권코드'])^set(temp2['상권코드'])))
print(len(set(temp2['상권코드'])^set(temp3['상권코드'])))
print(len(set(temp3['상권코드'])^set(temp4['상권코드'])))

0
1
1

블록 내 상권 블록의 비율이 15% 이상인 것을 보았을 때 상권 1개 소실  
블록 내 상권 블록의 비율이 20% 이상인 것을 보았을 때 상권 2개 소실

In [45]:
# blk_area_ratio >= 30(%)일 때 데이터 개수
temp4.shape

(5399, 15)

In [46]:
baldal_merge.loc[~baldal_merge['상권코드'].isin(temp4['상권코드']), ['상권명', 'area','area_ratio', 'blk_area_ratio']]

           상권명       area  area_ratio  blk_area_ratio
941      원곡성당길  12331.578       100.0       16.851537
1030  홈플러스의전부점  11878.249       100.0       29.021852

30(%) 이상으로 했을 때 2개의 상권이 소실됨

## 상권 내 비율

In [47]:
# 15% 이상을 기준으로함
temp = baldal_merge[baldal_merge['blk_area_ratio'] >= 15]

In [48]:
baldal_merge.loc[~baldal_merge['상권코드'].isin(temp['상권코드']), ['상권명', 'area','area_ratio', 'blk_area_ratio']]

Empty DataFrame
Columns: [상권명, area, area_ratio, blk_area_ratio]
Index: []

15(%) 이상으로 했을 때 소실되는 상권이 없음

In [49]:
temp.shape

(5451, 15)

In [50]:
pd.DataFrame(temp['상권코드'].value_counts())

        상권코드
발달_844    51
발달_283    49
발달_721    49
발달_285    44
발달_190    42
...      ...
발달_293     1
발달_274     1
발달_703     1
발달_705     1
발달_429     1

[857 rows x 1 columns]

상권이 총 857개 -> 상권 유지

In [51]:
# 소실되는 상권이 없으므로 나타나는 것이 없는 게 맞음
temp2 = baldal_merge[~baldal_merge['상권코드'].isin(temp['상권코드'])]
temp2 = temp2[temp2['area_ratio'] >= 90]
temp2

Empty DataFrame
Columns: [wkt, 상권명, 다중지역정보, 업종정보, 점포수, 위도, 경도, 상권코드, BLK_CD, BLK_NM, area, area_sum, area_ratio, blk_area, blk_area_ratio]
Index: []

In [52]:
temp.shape

(5451, 15)

In [53]:
temp['상권코드'].value_counts()

발달_844    51
발달_283    49
발달_721    49
발달_285    44
발달_190    42
          ..
발달_293     1
발달_274     1
발달_703     1
발달_705     1
발달_429     1
Name: 상권코드, Length: 857, dtype: int64

In [54]:
temp2['상권코드'].value_counts()

Series([], Name: 상권코드, dtype: int64)

In [55]:
baldal_cut = pd.concat([temp, temp2])

In [56]:
baldal_cut.shape

(5451, 15)

In [57]:
# 모든 상권이 포함되어있는지 확인
# 다 포함되어 있을 경우 안보이는 것이 맞음
baldal_merge.loc[~baldal_merge['상권코드'].isin(baldal_cut['상권코드']), ['상권명', 'area','area_ratio', 'blk_area_ratio']]

Empty DataFrame
Columns: [상권명, area, area_ratio, blk_area_ratio]
Index: []

In [58]:
pd.DataFrame(baldal_cut['상권코드'].value_counts())

        상권코드
발달_844    51
발달_283    49
발달_721    49
발달_285    44
발달_190    42
...      ...
발달_293     1
발달_274     1
발달_703     1
발달_705     1
발달_429     1

[857 rows x 1 columns]

## 최종 전처리

In [59]:
# 비율설정
# blok_area_ratio >= 15 : 조각이 포함된 블록내에서 조각의 비율이 15% 이상
temp = baldal_merge[baldal_merge['blk_area_ratio'] >= 15]

# 사라진 상권을 포함(15% 이상일 때는 없음)
temp2 = baldal_merge[~baldal_merge['상권코드'].isin(temp['상권코드'])]
temp2 = temp2[temp2['area_ratio'] >= 90]

# merge
baldal_cut = pd.concat([temp, temp2])

In [60]:
# 필요한 컬럼만 추출
baldal_cut = baldal_cut[['wkt', '상권명', '다중지역정보', '업종정보', '점포수', '위도', '경도', '상권코드', 'BLK_CD', "BLK_NM"]]

In [61]:
baldal_cut.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5451 entries, 0 to 9435
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wkt     5451 non-null   object
 1   상권명     5451 non-null   object
 2   다중지역정보  5451 non-null   object
 3   업종정보    5451 non-null   object
 4   점포수     5451 non-null   int64
 5   위도      5451 non-null   float64
 6   경도      5451 non-null   float64
 7   상권코드    5451 non-null   object
 8   BLK_CD  5451 non-null   int64
 9   BLK_NM  5451 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 468.4+ KB

## 데이터 저장

In [62]:
# baldal_cut.to_csv('C:/Users/user/Desktop/경기신용보증재단/정제/골목,발달 상권 데이터/골목_발달상권_블록매핑_전처리/발달상권_블록매핑_전처리.csv',encoding='euc-kr',index=False)