In [3]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
risk_base = pd.read_csv('22년 9월 리스크.txt',sep='|',encoding='cp949')

In [4]:
risk_xy = pd.read_csv('보증상권지도_OUT.txt',sep='\t',encoding='cp949')

In [5]:
# 22년9월리스크 자료를 기준으로 사용할것이기 떄문에 고객번호가 겹치는 위경도 좌표용 데이터는 중복을제거
risk_xy = risk_xy.drop_duplicates(subset='고객번호')

In [6]:
#risk_cob = pd.read_csv('리스크데이터결합/22년 9월말 사업자번호_결과반영.csv',encoding='euc-kr')

In [7]:
#risk_cob.drop_duplicates(subset = '사업자번호',inplace=True)

In [8]:
#len(risk_cob)

301669

In [6]:
len(risk_base),len(risk_xy)

(415554, 306454)

In [7]:
risk_file = pd.merge(left=risk_base,right=risk_xy , how='left',on='고객번호')
#risk_file2 = pd.merge(left=risk_file,right=risk_cob , how='left',on='사업자번호')

In [8]:
#risk_file2.to_csv('리스크데이터결합/22년 9월말 리스크 데이터 휴페업 결합.csv',encoding='euc-kr',index=False)

In [9]:
risk_file = risk_file[['고객번호','보증실행일자','보증번호','EaD','EL','업체명','Unnamed: 3','Unnamed: 4']]


risk_file.rename(columns={'Unnamed: 3':'경도','Unnamed: 4':'위도'},inplace=True)

In [10]:
risk_count = risk_file.drop_duplicates(subset='고객번호')
risk_count['고객번호'].value_counts()

668227    1
701496    1
701380    1
702261    1
701704    1
         ..
507023    1
506920    1
506916    1
506743    1
550021    1
Name: 고객번호, Length: 305148, dtype: int64

In [11]:
risk_file[risk_file['고객번호']==236221]

,고객번호,보증실행일자,보증번호,EaD,EL,업체명,경도,위도
374204,236221,20180426,150201800949,1.730000,0.032351,알파(중앙대점),127.2262898,37.00216
374205,236221,20180426,150201800955,1.540000,0.028798,알파(중앙대점),127.2262898,37.00216
374206,236221,20200108,340202000012,8.120000,0.151842,알파(중앙대점),127.2262898,37.00216
374207,236221,20200330,340202000459,23.400000,0.437575,알파(중앙대점),127.2262898,37.00216
374317,236221,20200617,340202002506,1.770000,0.033099,알파(중앙대점),127.2262898,37.00216
374318,236221,20210810,340202101156,12.440000,0.232625,알파(중앙대점),127.2262898,37.00216
374319,236221,20211005,340202101536,20.000000,0.373996,알파(중앙대점),127.2262898,37.00216
374320,236221,20220209,340202200205,10.000000,0.186998,알파(중앙대점),127.2262898,37.00216
374321,236221,20220209,340202200207,9.192402,0.171896,알파(중앙대점),127.2262898,37.00216
374322,236221,20220729,340202201516,10.000000,0.186998,알파(중앙대점),127.2262898,37.00216

In [12]:
risk_file.to_csv('QGIS_리스크파일_ELR계산용.csv',encoding='euc-kr',index=False)

In [78]:
#보증집중도 계산에서는 특정업체가 여러번 보증받은경우를 하나로 계산
#개인운수업등 특정 운수회사에 개인사업자 형태로 존재하는 여러개 데이터도 하나로 계산하기 위해 경도,위도도 그룹기준에 포함
groups = risk_count.groupby(by=['업체명','경도','위도'])[['업체명']].count()

In [89]:
groups.rename(columns={'업체명':'업체'},inplace=True)
groups=groups.reset_index()

In [97]:
groups.to_csv('QGIS_보증집중도계산용.csv',encoding='euc-kr',index=False)