In [1]:
import pandas as pd

df = pd.read_csv('ELR_행정동.csv',encoding='euc-kr')

C:\Users\user\AppData\Local\Temp\ipykernel_18332\224350978.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ELR_행정동.csv',encoding='euc-kr')

In [2]:
df2 = df.groupby('행정동코드',as_index=False)['EaD','EL'].sum()
df2['ELR'] = (df2['EL']/df2['EaD']) *100

C:\Users\user\AppData\Local\Temp\ipykernel_18332\103629380.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2 = df.groupby('행정동코드',as_index=False)['EaD','EL'].sum()

In [3]:
df2['ELR'] = (df2['EL']/df2['EaD']) *100

In [4]:
df2

        행정동코드           EaD          EL       ELR
0    41111560  12824.562949  270.207065  2.106949
1    41111566  17421.094499  328.851528  1.887663
2    41111571   8429.730198  235.485423  2.793511
3    41111572  11289.994216  215.385554  1.907756
4    41111573  14862.419178  236.866761  1.593730
..        ...           ...         ...       ...
545  41830370   1395.104955   31.537539  2.260585
546  41830380   1286.863250   27.681751  2.151103
547  41830395   2405.461208   47.956663  1.993658
548  41830400  11532.514975  195.946763  1.699081
549  41830410   3271.163241   98.273829  3.004247

[550 rows x 4 columns]

In [5]:
df2.to_csv('결과물/행정동_ELR_최종.csv',encoding='euc-kr',index=False)

In [7]:
golmok = pd.read_csv('골목상권ELR.csv',encoding='euc-kr')

In [9]:
baldal = pd.read_csv('발달상권ELR.csv',encoding='euc-kr')

In [24]:
golmok2 = golmok.groupby('상권코드',as_index=False)['EaD','EL'].sum()
golmok2['ELR'] = (golmok2['EL']/golmok2['EaD']) *100
golmok2['ELR']=golmok2['ELR'].fillna(0)

C:\Users\user\AppData\Local\Temp\ipykernel_18332\4016159690.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  golmok2 = golmok.groupby('상권코드',as_index=False)['EaD','EL'].sum()

In [25]:
golmok2

       상권코드          EaD         EL        ELR
0      골목_1  1638.169539  41.333382   2.523144
1     골목_10   207.780829   2.383655   1.147197
2    골목_100  1559.041834  40.305252   2.585258
3    골목_101   624.327204   9.217040   1.476316
4    골목_102   566.724986  29.771040   5.253172
..      ...          ...        ...        ...
822   골목_95   220.104153   5.059893   2.298863
823   골목_96   234.010865   3.541455   1.513372
824   골목_97  1101.081676  39.880911   3.621976
825   골목_98  3645.751389  86.043692   2.360109
826   골목_99   365.767978  38.120768  10.422117

[827 rows x 4 columns]

In [26]:
baldal2 = baldal.groupby('상권코드',as_index=False)['EaD','EL'].sum()
baldal2['ELR'] = (baldal2['EL']/baldal2['EaD']) *100
baldal2['ELR']=baldal2['ELR'].fillna(0)

C:\Users\user\AppData\Local\Temp\ipykernel_18332\1981048780.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  baldal2 = baldal.groupby('상권코드',as_index=False)['EaD','EL'].sum()

In [27]:
baldal2[baldal2['EaD']==0]

       상권코드  EaD   EL  ELR
40   발달_135  0.0  0.0  0.0
359  발달_422  0.0  0.0  0.0
621  발달_659  0.0  0.0  0.0
853   발달_96  0.0  0.0  0.0

In [28]:
golmok2[golmok2['EaD']==0]

       상권코드  EaD   EL  ELR
339  골목_404  0.0  0.0  0.0
370  골목_432  0.0  0.0  0.0
386  골목_447  0.0  0.0  0.0
699  골목_729  0.0  0.0  0.0

In [30]:
cd = pd.concat([baldal2,golmok2],axis=0)

In [32]:
cd.head(5)

     상권코드           EaD          EL       ELR
0    발달_1  14479.121331  309.574591  2.138076
1   발달_10     92.768595    2.134368  2.300744
2  발달_100   1617.583294   24.883107  1.538289
3  발달_101    577.162413    9.205105  1.594890
4  발달_102    676.756816   12.290643  1.816109

In [31]:
cd.to_csv('결과물/상권_ELR_최종.csv',encoding='euc-kr',index=False)