In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('상권_요인분석/sum_fa_list.csv',encoding='euc-kr')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled_standard = scaler.fit_transform(df.iloc[:,-10:])
score_set = pd.DataFrame(df_scaled_standard,columns=df.iloc[:,-10:].columns)

In [3]:
bins=[]
for i in reversed(range(1,11)):
    #bins.append(str(i)+'등급')
    bins.append(i)

In [4]:
#표준화 계수에 따라 상권의 활성화 정도를 구분
def split_type(x):
    answer = ''
    if x >= 0.5 : answer = '활성화상권'
    elif x<=-0.5 : answer = '비활성화상권'
    else : answer = '현상유지상권'
    return answer

In [5]:
score_set['1912_score'].apply(lambda x : split_type(x))

0        활성화상권
1       현상유지상권
2       현상유지상권
3       비활성화상권
4       현상유지상권
         ...
1672    현상유지상권
1673    비활성화상권
1674    현상유지상권
1675    현상유지상권
1676    비활성화상권
Name: 1912_score, Length: 1677, dtype: object

In [6]:
df['표준화 지수'] = df['2206_score']-df['1912_score']
df['증감'] = df['2206_score']-df['1912_score']
df['경제회복도'] = pd.cut(df['표준화 지수'],10,labels=bins)

In [7]:
score_set['표준화 지수'] = score_set['2206_score']-score_set['1912_score']
score_set['경제회복도'] = pd.cut(score_set['표준화 지수'],10,labels=bins)

In [8]:
score_set[score_set['경제회복도']=='4등급']

Empty DataFrame
Columns: [1806_score, 1812_score, 1906_score, 1912_score, 2006_score, 2012_score, 2106_score, 2112_score, 2206_score, 2106_score.1, 표준화 지수, 경제회복도]
Index: []

In [9]:
score_set = pd.concat([df.iloc[:,:7],score_set],axis=1)

In [10]:
score_set=score_set[['상권코드','경제회복도']]

score_set.head(2)

   상권코드 경제회복도
0  골목_1     5
1  골목_2     5

In [11]:
score_set.to_csv('상권_컬럼/상권_경제회복도.csv',encoding='euc-kr',index=False)